.green {
  background-color: rgba(34,139,34,.5);
}

.white {
  color: white;
}

.jumbotron {
  position: relative;
  background: rgba(0,0,0,0) url("../img/jumbotronpizza.jpg") center center;
  width: 100%;
  height: 600px;
  background-size: cover;
}

.jumbotron.container-fluid {
  line-height: 0;
}

#submit-pizza {
  margin-bottom: 20px;
}

#your-order {
  display: none;
}
